# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\1. FPT Polytechnic\FPL-2026\SU26\JAV103_SD21304\SU26_BL1_JAV103_SD21304\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
